
body{
  background-color:var(--black-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content_paypal{
  text-align: center;
}

.content_paypal a{
  color: var(--green-color);
}