/* ---------------Variables */
:root{
  /* Colores */
  --green-color:#04FEA9;
  --white-color:white;
  --black-color:#313337;
  /* Tipografia */
  --normal:12px;
  --normal-hight:17px;
  --hight:20px;
  --bigest:30px;
  /* Espaciado */
  --space:10px;
  --space2:20px;
  /* Box Shadow */
  --box:0 0 2px 1px #c1bcbc;
}

/* ---------------Variables */

/* ---------------Container */

.container{
 max-width: 1280px;
 margin: 0 auto;
 
}

/* ------------------Container */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/source-sans-pro-v13-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,body{
  padding: 0;
  margin: 0;
  font-size: var(--normal);
  font-family: 'Source Sans Pro', system-ui;
  color: var(--black-color);
}
 /* ----------------------------Nav Bar */
label{
  font-size: var(--normal);
}

 nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  background-color: var(--green-color);
  color: var(--white-color);
}
nav img {
  max-width: 80px;
  max-height: 30px;
}

nav ul{
  display: flex;
  margin: 0;
}

nav li {
  display: block;
  padding-left: 20px;
  list-style: none;
}

nav li a{
  display: block;
  text-decoration: none;
  color: var(--black-color);
}

nav li a:hover{
  color: var(--white-color);
}

/* End--------------------------- Nav Bar */


/* ------------------------------Main Section */


.main_section{
  padding:15%;
  text-align: center;
}
.main_section h1{
  /* margin-top: -50px; */
  font-size: var(--bigest);
  font-weight: bold;
}
.products{ 
   display: flex;
   justify-content: center;
   background-image: url(../Images/curve.png);
   background-size: cover;
   background-position: center top;
   height: 50px;
   padding: 15%;
   display: flex;
}
.product{
  padding: var(--space);
  margin-top: -290px;
  max-width: 280px;
}
.product .content{
  /* text-align: center; */
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}

.img_content{
  text-align: center;
  /* max-width: 280px;
  max-height: 150px; */
}

.content h2{
  font-size: var(--bigest);
}

.content p{
  font-size: var(--normal-hight);
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  border-radius: 2px;
  font-size: var(--hight);
}
.main_button:hover{
    background-color: #1deaa4;
    cursor: pointer;
}
/* End----------------Main section */


/* --------------------Benefits */
.benefits{
  display: flex;
  justify-content: space-around;
  padding: 10%;
}
.benefit{
  text-align: center;
}
.benefit figure{
  max-width: 250px;
  height: 215px;
  text-align: center;
}
.benefit img{
  width: 100%;
  height: 100%;
}

.benefit h3{
  font-size: var(--normal-hight);
}

.benefit p{
  width: 183px;
  margin: 0 auto;
}

/* End---------------------Benefits */


/* -----------------Testimonios */

.testimonials-title{
  font-size: var(--bigest);
  text-align: center;
}

.testimonials{
  display: flex;
  justify-content: space-evenly;
  padding: 10%;
  text-align: center;
}

.testimony{
  padding: var(--space);
  
}
.testimony .testimony-content{
  background-color: var(--white-color);
  /* padding:15px; */
  box-shadow: var(--box);
  border-radius: 4px;
}
.testimony-img{
  width: 100%;
}
.testimony-text{
  padding: var(--space);
}
.testimony-text h3{
  text-align: left;
  font-size: var(--normal-hight);
}
/* End------------------Testimonios */

/* -------------------Product page */
.Adopt-title{
  font-size: 30px;

}
.Adopt figure{
  max-width: 250px;
  margin: 0 auto;
}
.Adopt img{
  width: 100%;
  
}

.Adopt h3{
  padding-left: ;
  font-size: 30px;
}
.Adopt p {
  font-size: 17px;
}

/* END-------------------Product page */


/* -------------------Adopt page */

.form_contact{
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space2);
}
.form_contact_images{
  max-width: 150px;
  text-align: center;
  width: 100%;
  margin: auto;
}
.form_contact_images img{
  width: 100%;
}

.form_contact h3{
  font-size: var(--bigest);
}
.data{
  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid var(--black-color);
  box-sizing: border-box;
  gir
}

.form_contact .main_button{
  margin-top: var(--space);
}


/* END-------------------Adopt page */
/* -------------------faqs page */
.faqs-container{
  background-color: var(--white-color);
}
  .faqs-title{
    font-size: var(--bigest);
  }
  .faq-title{
    font-size: var(--hight);
  }



/* END-------------------faqs page */

/* -------------------Footer */

.footer{
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: var(--space);
}

.contact a{
  color: var(--green-color);
}

